# dtd declaration
snippet xml
	<?xml version="1.0" encoding="UTF-8"?>
# ELEMENT
snippet el
	<!ELEMENT ${1:} ${2}>

# ELEMENT ANY
snippet ela
	<!ELEMENT ${1:} ANY>

# ELEMENT EMPTY
snippet ele
	<!ELEMENT ${1:} EMPTY>

# ATTLIST
snippet att
	<!ATTLIST ${1} ${2} >

